<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themeSize">Sizes</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
          
            <div class="col-md-4">
                <input type="text" class="form-control ml-auto" placeholder="search.." [(ngModel)]="filter">
            </div>
            <div class="col-md-4">
                <ng-select [items]="Categories" bindLabel="arabicName" bindValue="id" placeholder="select Category"
                    [(ngModel)]="selectedCategory" (change)="getSizeByCategory()">
                </ng-select>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-info ml-auto" data-toggle="modal"
                    data-target="#SizeModal" (click)="CreateNew()" ><i class="fa fa-plus-circle"></i> Create New</button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table product-overview" id="myTable">
                        <thead >
                            <tr>
                                <th>id</th>
                                <th>Size</th>
                                <th>Unit</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of Sizes | filter:filter.trim() | paginate: {id:'SizePag', itemsPerPage: 5, currentPage: psz }">
                                <td>{{item.id}}</td>
                                <td>{{item.size}}</td>
                                <td>{{item.unit}}</td>
                                <td>
                                    <a href="javascript:void(0)" class="text-inverse p-r-10" data-toggle="tooltip" title="Edit"><i
                                        data-toggle="modal" data-target="#SizeModal" class="ti-marker-alt" (click)="onEdit(item)"></i></a>
                                    <a href="javascript:void(0)" class="text-inverse"  title="Delete" data-toggle="tooltip"><i
                                        data-toggle="modal" data-target="#SizeConfirmDeleteModal" (click)="onDelete(item.id)" class="ti-trash"></i></a></td>
                            </tr>

                        </tbody>

                        <ul class="pagination">
                            <pagination-controls 
                            id="SizePag" 
                            (pageChange)="psz = $event"
                            previousLabel="previous"
                            nextLabel="next">
                        </pagination-controls>
                            </ul>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>

<!-- sample modal content -->
<div id="SizeModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" #closeModal data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form [formGroup]="SizeForm" #formDir="ngForm">

                    <div class="form-group">
                        <label for="arabicName" class="control-label" >Category</label>
                        <ng-select [items]="Categories" bindLabel="arabicName" bindValue="id"
                        placeholder="select Category" [(ngModel)]="Size.categoryId"
                        formControlName="Category" id="Catg" required>
                    </ng-select>
                    </div>
                    <div class="form-group">
                        <label for="englishName" class="control-label" >Size</label>
                        <input type="text" class="form-control" formControlName="size" name="size" required>
                    </div>
                    <div class="form-group">
                        <label for="englishName" class="control-label" >Unit</label>
                        <input type="text" class="form-control" formControlName="unit" name="unit" required>
                    </div>

                   
                 
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger waves-effect waves-light" (click)="saveChanges()" [disabled]="SizeForm.invalid">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- confirm delete modal -->
<div id="SizeConfirmDeleteModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="vcenter">Confirm !</h4>
                <button type="button" class="close"  data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <h4>Are you sure to delete ?</h4>
                <!-- <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal" (click)="confirmDelete()">Yes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<ngx-ui-loader></ngx-ui-loader>